header {

    background-color: cadetblue;
    font-size: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;

    ul {
        font-style: arial;
li{
    color: black;
}
    }

}