@media screen and (min-width: 1024px) {
    div .col-lg-4 {

        width: 100%;
        height: 10%;
        transition: all 2s;
    }

    div .col-lg-4 {
        height: 20%;
        width: 30%;


    }



}